.topBar {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
    padding-top: 30px;
    position: sticky;
    top: 0;
}

.topBarWrapper {
    height: 100%;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-family: Montserrat-SemiBold;
    font-size: 40px;
    color: black;
}

.username {
    font-weight: bold;
    font-family: Montserrat-SemiBold;
    font-size: 25px;
    color: black;
}

.profilePic {
    width: 50px;
    height: 50px;
    padding-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../../assets/Montserrat-SemiBold.ttf);
}