body {
    margin: 0;
}

.sideBar {
    flex: 1;
    font-family: Montserrat-SemiBold;
    min-height: 100%;
    background-color: rgb(21, 30, 37);
    color: aliceblue;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 10%;

}

.sideBarWrapper {
    padding: 20px;
}

.sideBarMenu {
    margin-bottom: 50%;
    margin-top: 50%;
}

.sideBarList {
    list-style: none;
    padding: 1%;
}

.logout {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    position: relative;
    align-items: center;
    color: rgb(154, 157, 161);
    margin-top: 2%;
    font-size: 20px !important;
    cursor: pointer;
    border-radius: 20px;
}

.logout:hover {
    background-color: rgb(113, 56, 50);
}

hr { /*side bar logout doesnt go to the bottom - must fix*/
    position: relative;
    margin-top: 250%;
}

.sideBarListItem {
    padding: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 2%;
}

.sideBarListItem.active,
.sideBarListItem:hover {
    background-color: rgb(33, 44, 52);
    
}

.sideBarIcon {
    margin-right: 5px;
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../../assets/Montserrat-SemiBold.ttf);
}